@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>

<h3><a href="manage"> 從這裡開始 </a></h3> 


@section Scripts {
    <script src="~/js/index.bundle.js" type="module"></script>
}
