@page "/Questionnaire_fill"
@model survey2021.Pages.exam.Questionnaire_fillModel
@{
    Layout = "~/Pages/Shared/Layout/_Layout.cshtml";
}

<div class="breadcrumbing"><p><a href="index.htm">首頁</a> &gt; 我填寫的問卷</p></div>
<main role="main" class="pb-3">
    <div id="root"></div>
</main>

@section scripts {
    <script src="/js/questionnaire_fill.bundle.js" type="module"></script>
}